<div>
  <h1>Categorias</h1>
  <a href="/admin/post"><button class="btn btn-primary">Posts</button></a>
  <a href="/admin/categoria/nova"><button class="btn btn-primary">Nova Categoria</button></a>
</div>