<div>
    <h3>Editar categoria</h3>
    <div class="card mt-4">
        <div class="card-body">
            <form action="/admin/categoria/success/edit/{{categorias._id}}" method="POST">
                <div class="form-group mb-3">
                    <label for="nome">Nome da Categoria:</label>
                    <input type="text" class="form-control" id="nome" name="nome" value={{categorias.nomeDaCategoria}}>
                </div>
                <div class="form-group mb-3">
                    <label for="tipo">Tipo:</label>
                    <input type="text" class="form-control" id="tipo" name="tipo" value={{categorias.tipoDeCategoria}}>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-success" name="buttonEditCategories">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>