{{#each categorias}}
<div class="card">
    <div class="card-body">
        <form action="/admin/categoria/success/edit/{{this._id}}" method="POST">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h3>Categorias:</h3>
                <h4>{{this.nomeDaCategoria}}</h4>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h3>Tipo:</h3>
                <h4>{{this.tipoDeCategoria}}</h4>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark" name="buttonAcess" type="submit">Acessar</button>
        </form>
    </div>
</div>
</div>
{{/each}}