<div class="card">
    <div class="card-body">
        <form action="/registro/user/success" method="post">
            <h3>Crie sua conta hoje:</h3>
            <div>
                <label for="email">Email:</label>
                <input type="text" name="email" class="form-control" required>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input type="password" name="senha" class="form-control" required>
            </div>
            <div>
                <label for="senha">Repita sua senha:</label>
                <input type="password" name="senha2" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success mt-4">Criar conta</button>
        </form>
    </div>
</div>